@using System.Security.Claims
@using Bizon360.Models
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig
@model IEnumerable<Gear.Sstp.Abstractions.Domain.TechnologyType>

@if (Model.Any())
{
    <table class="table bizon-datatable dt-sstp" data-order='[[ 0, "asc" ]]' id="table-technologies">
        <thead>
            <tr class="hover-invisible-toggle">
                <th hidden="">RowOrder</th>
                <th class="no-sort">@Localizer["_technologyTypes"]</th>
                <th class="no-sort col-date d-md-table-cell d-none">@Localizer["_status"]</th>
                <th class="no-sort col-date d-sm-table-cell d-none"> @Localizer["_created"]</th>
                <th class="no-sort col-date d-sm-table-cell d-none">@Localizer["_modified"]</th>
                <th class="no-sort">
                    <div class="dropdown datatables-th-dropdown">
                        <div class="more-vertical hover-invisible hover-lg" data-toggle="dropdown"></div>
                        <div class="dropdown-menu dropdown-menu-right">

                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-technologies-status" data-table-column-id="2" checked />
                                <label class="custom-control-label" for="dt-technologies-status">
                                    @Localizer["_status"]
                                    <span>Status</span>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-technologies-created" data-table-column-id="3" checked />
                                <label class="custom-control-label" for="dt-technologies-created">
                                    @Localizer["_created"]
                                    <span>Created date</span>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-technologies-modified" data-table-column-id="4" checked />
                                <label class="custom-control-label" for="dt-technologies-modified">
                                    @Localizer["_modified"]
                                    <span>Modified date</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="table-ordered">
            @foreach (var item in Model)
            {
                <tr class="hover-invisible-toggle">
                    <td hidden>@item.RowOrder</td>
                    <td class="order-row" data-id="@item.Id">
                        <span class="datatables-dragdrop"></span>
                        <a href="javascript:" class="datatables-title">@item.Name</a>
                        <div class="position-relative d-lg-inline-block d-none">
                            <a href="#" class="btn btn-success btn-sm datatables-button hover-invisible top-webkit-inline-box rename-technology" data-controller="Sstp" data-action="EditTechnology" data-id="@item.Id">@Localizer["_rename"]</a>
                        </div>
                    </td>
                    <td class="d-md-table-cell d-none td-badge sorting_1">
                        @if (item.Active)
                        {<span class="badge badge-outline-success">@Localizer["_active"]</span> }
                    else
                    { <span class="badge badge-outline-secondary">@Localizer["_inactive"]</span>}
                    </td>

                    <td class="d-sm-table-cell d-none">
                        @item.CreatedTime.ToString("yyyy-MM-dd")
                    </td>
                    <td class="d-sm-table-cell d-none">
                        @item.ModifiedTime.ToString("yyyy-MM-dd")
                    </td>
                    <td class="td-options">
                        <div class="dropdown datatables-dropdown">
                            <div class="more-vertical hover-invisible hover-lg" id="dropdown-1" data-toggle="dropdown"></div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-1">
                                <a href="#" class="dropdown-item rename-technology" data-controller="Sstp" data-action="EditTechnology" data-id="@item.Id">@Localizer["_rename"]</a>
                                @if (item.Active)
                                {
                                    <a href="#" class="dropdown-item deactivate-technology" data-controller="Sstp" data-action="DeactivateTechnology" data-id="@item.Id" data-name="@item.Name">@Localizer["shortCuts_deactivate"]</a>
                                }
                                else
                                {
                                    <a href="#" class="dropdown-item activate-technology" data-controller="Sstp" data-action="ActivateTechnology" data-id="@item.Id" data-name="@item.Name">@Localizer["shortCuts_activate"]</a>
                                }
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item delete-technology" data-controller="Sstp" data-action="DeleteTechnology" data-id="@item.Id" data-name="@item.Name">@Localizer["shortCuts_delete"]</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p class="ml-3">@Localizer["msg_noTechnologies"]</p>
    </div>
}

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="~/lib/jqueryui/jquery-ui.js"></script>

<script>
    $(document).ready(function () {

        RefreshCount("technologies");
        EnableDataTable("#table-technologies", "TechnologiesColumns" + "@Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)");
        $.bindColumnToggle({ cookieKey: "TechnologiesColumns" + "@Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)" });

    @if (User.UserHasThisPermission(Permissions.SSTPUpdate))
    {
        <text>
            OrderTableRows({
                tBody: ".table-ordered",
                tRow: ".order-row",
                actionUrl: "/Sstp/UpdateTechnologyOrder/"
            });
        </text>
    }
    });
</script>
