@model Gear.ProjectManagement.Manager.Domain.TrackerTypes.Commands.CreateTrackerType.CreateTrackerTypeCommand
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig
@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options

<form id="form">
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-2">
                    <label asp-for="Name" class="float-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="@Localizer["placeholders_TrackerType"]" autofocus="autofocus" autocomplete="off" required />
                    <span asp-validation-for="Name" class="invalid-feedback"></span>
                </div>

                <div class="mb-2">
                    <label asp-for="ActivityTypeId" class="float-label-select"></label>
                    <select asp-for="ActivityTypeId" asp-items="@(new SelectList(ViewBag.ActivityTypes, "Id", "Name", null))" class="form-control selectpicker" data-live-search="true"></select>
                    <span asp-validation-for="ActivityTypeId" class="invalid-feedback"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Localizer["_cancel"]</button>
        <button type="submit" class="btn btn-success" id="btn">@Localizer["_add"]</button>
    </div>
</form>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="~/lib/jqueryui/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
         $(".selectpicker").selectpicker();
         var services = new ServicesContainer();

         $.saveChanges({
             bindTo: "#btn",
             formId: "#form",
             ajaxUrl: "@Url.Action("CreateTracker", "Services")",
             successMessage: "@Localizer["msgSuccess_createSubtype"]",
             errorMessage: "@Localizer["msgError_createSubtype"]",
             eventFunction: function () {
                 services.getSubtypes("@Model.ActivityTypeId");
             }
         });
    });
</script>
