@using Bizon360.Models
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig
@model Gear.Manager.Core.EntityServices.DepartmentTeams.Queries.GetDepartmentTeamsList.DepartmentTeamListViewModel

@{
    Layout = "_BizonLayout";
    ViewData["Title"] = "Administrative";

    // Breadcrumbs data
    ViewData["FirstNode"] = ViewData["Title"];
}

<partial name="_AdmTabs" />

<div class="row row-m-20 bg-white border rounded top-bar pl-20 pr-20">
    <div class="col-12 d-md-flex p-0">
        <div class="d-md-block d-inline-block">
            <button class="btn btn-primary">@Localizer["_list"]</button>
            @*<button class="btn btn-outline-primary">@Localizer["_grid"]</button>*@
        </div>
        <div class="ml-auto d-inline-block"></div>
        @if (User.UserHasThisPermission(Permissions.DepartmentTeamCreate))
        {
            <button class="btn btn-success ml-auto float-md-none float-right" id="add-team" data-toggle="modal" data-target="#modal" data-controller="DepartmentTeams" data-action="Create">@Localizer["shortCuts_addTeam"]</button>
            <div class="top-bar-divider d-md-block d-none"></div>
        }

        <input type="text" class="form-control search-input w-md-100-i mt-md-0 mt-2" placeholder="@Localizer["_search"]" />
    </div>
</div>

<hr class="no-gutters" />

<div id="team-list"></div>

<div class="no-results d-none">
    <p class="mb-0">No matching records found</p>
</div>

<footer class="bulk-actions-container">
    <div class="d-lg-inline-flex d-block">
        <button type="button" class="btn d-block w-lg-auto w-100 btn-outline-secondary" id="deselect-all">@Localizer["shortCuts_deselectAll"] <span class="check-counter d-lg-none"></span></button>
        @if (!User.UserHasThisPermission(Permissions.JobPositionUpdate) && !User.UserHasThisPermission(Permissions.JobPositionDelete))
        {
            <p class="d-lg-inline text-lg-left text-center">@Localizer["messages_noPermessionsEditDeleteJobPositions"]</p>
        }
        else
        {
            <p class="d-lg-inline d-none"><span class="check-counter"></span> @Localizer["msg_jobsSelected"]</p>
        }
    </div>
    <ul class="list-unstyled list-inline d-lg-inline-block d-block float-lg-right mb-0">
        @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
        {
            <li class="d-lg-inline-block d-flex mt-lg-0 mt-2">
                <button type="button" class="bulk-activate-link btn w-lg-auto w-100 btn-outline-primary mr-2" data-toggle="modal" data-target="#modal" data-controller="JobPositions" data-param-name="id" data-action="ActivateJobPosition">@Localizer["shortCuts_activateSelected"]</button>
                <button type="button" class="bulk-deactivate-link btn w-lg-auto w-100 btn-outline-primary mr-lg-2" data-toggle="modal" data-target="#modal" data-controller="JobPositions" data-param-name="id" data-action="DeactivateJobPosition">@Localizer["shortCuts_deactivateSelected"]</button>
            </li>
            <li class="d-lg-inline-block d-flex mt-lg-0 mt-2">
                <button type="button" class="bulk-remove-job-link btn w-lg-auto w-100 btn-outline-primary mr-lg-2" data-param-name="id" data-toggle="modal" data-target="#modal" data-controller="DepartmentTeams" data-param-name="id" data-action="RemoveJobFromTeam" data-get-parent="true">@Localizer["_remove"]</button>
            </li>
        }
        @if (User.UserHasThisPermission(Permissions.JobPositionDelete))
        {
            <li class="d-lg-inline-block d-none">
                <div class="divider"></div>
            </li>
            <li class="d-lg-inline-block d-block mt-lg-0 mt-2">
                <button type="button" class="bulk-delete-job-link btn d-block w-lg-auto w-100 btn-danger ml-lg-2" data-toggle="modal" data-target="#modal" data-controller="JobPositions" data-param-name="id" data-action="Delete">@Localizer["shortCuts_deleteSelected"]</button>
            </li>
        }
    </ul>
</footer>
<div class="bulk-hidden-space d-none"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/dev/adm.js"></script>

    <script>
        $(document).ready(function() {

            var tm = new TeamsContainer();

            tm.loader("#team-list");
            tm.getTeamList();
            $.confirmDelete();

            $("#tab-teams").addClass("active");

            $.bindSearch();


            // ------------------------
            // Shortcut parent actions

            @if (User.UserHasThisPermission(Permissions.DepartmentTeamCreate))
            {
                <text>
                    $.bindFormModal({
                        bindTo: "#add-team",
                        modalTitle: "@Localizer["shortCuts_addTeam"]",
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.DepartmentTeamUpdate))
            {
                <text>
                    $.bindFormModal({
                        bindTo: ".update-team",
                        modalTitle: "@Localizer["shortCuts_editTeam"]",
                    });

                    $.bindFormModal({
                        bindTo: ".assign-leader",
                        modalTitle: "@Localizer["shortCuts_assignLeader"]",
                        modalSize: "regular"
                    });

                    $.bindFormModal({
                        bindTo: ".assign-user",
                        modalTitle: "@Localizer["shortCuts_assignUser"]",
                        modalSize: "regular"
                    });

                    $.bindFormModal({
                        bindTo: ".move-team",
                        modalTitle: "@Localizer["shortCuts_moveTeam"]",
                        modalSize: "regular"
                    });

                    $.bindFormModal({
                        bindTo: ".rename-team",
                        modalTitle: "@Localizer["shortCuts_renameTeam"]",
                        modalSize: "regular"
                    });

                    $.bindFormModal({
                        bindTo: ".assign-job-position",
                        modalTitle: "@Localizer["shortCuts_assignJobPosition"]",
                        modalSize: "regular"
                    });

                    $.bindDeleteModal({
                        bindTo: ".deactivate-team",
                        bodyActionName: "Deactivate",
                        modalTitle: "@Localizer["shortCuts_deactivateTeam"]",
                        modalSize: "regular",
                        type: "@Localizer["types_team"]",
                        successMessage: "@Localizer["msgSuccess_deactivateTeam"]",
                        errorMessage: "@Localizer["msgError_deactivateTeam"]",
                        eventFunction: tm.getTeamList
                    });

                    $.bindDeleteModal({
                        bindTo: ".activate-team",
                        bodyActionName: "Activate",
                        modalTitle: "@Localizer["shortCuts_activateTeam"]",
                        modalSize: "regular",
                        type: "@Localizer["types_team"]",
                        successMessage: "@Localizer["msgSuccess_activateTeam"]",
                        errorMessage: "@Localizer["msgError_activateTeam"]",
                        eventFunction: tm.getTeamList
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.DepartmentTeamDelete))
            {
                <text>
                    $.bindDeleteModal({
                        bindTo: ".delete-team",
                        modalTitle: "@Localizer["shortCuts_deleteTeam"]",
                        modalSize: "regular",
                        type: "@Localizer["types_team"]",
                        successMessage: "@Localizer["msgSuccess_deleteTeam"]",
                        errorMessage: "@Localizer["msgError_deleteTeam"]",
                        eventFunction: tm.getTeamList
                    });
                </text>

            }

            // -----------------------------
            // Shortcut item actions

            @if (User.UserHasThisPermission(Permissions.JobPositionCreate))
            {
                <text>
                    $.bindFormModal({
                        bindTo: ".add-entity-link",
                        modalTitle: "@Localizer["shortCuts_addJobPosition"]",
                        modalSize: "regular",
                        data: {
                            teamId: "data-parent-id"
                        }
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
            {
                <text>
                    $.bindFormModal({
                        bindTo: ".edit-entity-link",
                        modalTitle: "@Localizer["shortCuts_editJobPosition"]",
                        modalSize: "regular",
                        data: {
                            id: "data-id",
                            parentId: "data-parent-id"
                        }
                    });
                </text>

                <text>
                    $.bindFormModal({
                        bindTo: ".rename-entity-link",
                        modalTitle: "@Localizer["shortCuts_renameJobPosition"]",
                        modalSize: "regular",
                        data: {
                            id: "data-id",
                            parentId: "data-parent-id"
                        }
                    });
                </text>

                <text>
                    $.bindDeleteModal({
                        bindTo: ".deactivate-job",
                        bodyActionName: "Deactivate",
                        modalTitle: "@Localizer["shortCuts_deactivateJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deactivateJobPosition"]",
                        errorMessage: "@Localizer["msgError_deactivateJobPosition"]",
                        eventFunction: function(result) {
                            $("[id='parent-" + result.id + "'].collapse").html(result.view);
                            $("[id='count-" + result.id + "'].collapse-count").html(result.count);
                        }
                    });
                </text>

                <text>
                    $.bindDeleteModal({
                        bindTo: ".activate-job",
                        bodyActionName: "Activate",
                        modalTitle: "@Localizer["shortCuts_activateJobPosition"]",
                        modalSize: "regular",
                        colorButton: "success",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_activateJobPosition"]",
                        errorMessage: "@Localizer["msgError_activateJobPosition"]",
                        eventFunction: function(result) {
                            $("[id='parent-" + result.id + "'].collapse").html(result.view);
                            $("[id='count-" + result.id + "'].collapse-count").html(result.count);
                        }
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionDelete))
            {
                <text>
                    $.bindDeleteModal({
                        bindTo: ".remove-entity-link",
                        modalTitle: "@Localizer["shortCuts_removeJobPosition"]",
                        modalSize: "regular",
                        bodyActionName: "Remove",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_removeJobPosition"]",
                        errorMessage: "@Localizer["msgError_removeJobPosition"]",
                        eventFunction: function(result) {
                            $("[id='parent-" + result.id + "'].collapse").html(result.view);
                            $("[id='count-" + result.id + "'].collapse-count").html(result.count);
                        }
                    });
                </text>

                <text>
                    $.bindDeleteModal({
                        bindTo: ".delete-entity-link",
                        modalTitle: "@Localizer["shortCuts_deleteJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deleteJobPosition"]",
                        errorMessage: "@Localizer["msgError_deleteJobPosition"]",
                        eventFunction: function(result) {
                            tm.getJobsByParent(result.id);
                        }
                    });
                </text>
            }

            // --------------------------------
            // Bulk shortcut actions
            @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
            {
                <text>
                    $.bindDeleteModal({
                        bulk: true,
                        bindTo: ".bulk-activate-link",
                        bodyActionName: "Activate",
                        modalTitle: "@Localizer["shortCuts_activateJobPosition"]",
                        modalSize: "regular",
                        colorButton: "success",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_activateJobPosition"]",
                        errorMessage: "@Localizer["msgError_activateJobPosition"]",
                        eventFunction: function(result) {
                            tm.getJobsByParent();
                            DeselectAll();
                        }
                    });

                    $.bindDeleteModal({
                        bulk: true,
                        bindTo: ".bulk-deactivate-link",
                        bodyActionName: "Deactivate",
                        modalTitle: "@Localizer["shortCuts_deactivateJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deactivateJobPosition"]",
                        errorMessage: "@Localizer["msgError_deactivateJobPosition"]",
                        eventFunction: function(result) {
                            tm.getJobsByParent();
                            DeselectAll();
                        }
                    });
                </text>
            }
            @if (User.UserHasThisPermission(Permissions.DepartmentTeamUpdate))
            {
                <text>
                    $.bindDeleteModal({
                        bulk: true,
                        bindTo: ".bulk-remove-job-link",
                        bodyActionName: "Remove",
                        modalTitle: "@Localizer["shortCuts_removeJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_removeJobPosition"]",
                        errorMessage: "@Localizer["msgError_removeJobPosition"]",
                        eventFunction: function(result) {
                            tm.getJobsByParent();
                            DeselectAll();
                        }
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionDelete))
            {
                <text>
                    $.bindDeleteModal({
                        bulk: true,
                        bindTo: ".bulk-delete-job-link",
                        modalTitle: "@Localizer["shortCuts_deleteJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deleteJobPosition"]",
                        errorMessage: "@Localizer["msgError_deleteJobPosition"]",
                        eventFunction: function(result) {
                            tm.getJobsByParent();
                            DeselectAll();
                        }
                    });
                </text>
            }

        });
    </script>
}
