@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Gear.ProjectManagement.Manager.Domain.Projects.Commands.BulkActions.BulkMoveToProjectGroup.BulkMoveToProjectGroupCommand
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

<form asp-controller="Projects" asp-action="BulkMoveToGroup" id="form-bulk-move-to-group">
    <div class="modal-body">
        <select asp-for="Projects" multiple hidden>
            @foreach (var project in Model.Projects)
            {
                <option value="@project" selected></option>
            }
        </select>

        <label asp-for="ProjectGroupId" class="float-label-select"></label>
        <select asp-for="ProjectGroupId" asp-items="@((List<SelectListItem>) ViewBag.ProjectGroups)" class="form-control selectpicker" data-live-search="true"></select>
        <span asp-validation-for="ProjectGroupId" class="invalid-feedback"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Localizer["_cancel"]</button>
        <button type="submit" class="btn btn-success" id="btn-bulk-move-to-group">@Localizer["shortCuts_update"]</button>
    </div>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(".selectpicker").selectpicker();

    $.saveChanges({
        bindTo: "#btn-bulk-move-to-group",
        formId: "#form-bulk-move-to-group",
        ajaxUrl: "@Url.Action("BulkMoveToGroup", "Projects")",
        successMessage: "@Localizer["messages_bulkUpdateProjectsSuccess"]",
        errorMessage: "@Localizer["messages_bulkUpdateProjectsError"]",
        buttonText: "@Localizer["shortCuts_update"]",
        eventFunction: function (result) {
            if (GetCurrentView() == "@ProjectsViewByStatus.Current") {
                $.each(result.projects, function (key, value) {
                    var id = $("tr[id='entity-" + value + "']").parents(".collapse-datatable").attr("id");
                    id = id.substring(id.indexOf("-") + 1);
                    if (id == result.projectGroupId) {
                        return;
                    } else {
                        DeleteTableRowCollapseUpdate(value, "@Localizer["messages_noProjectsInGroup"]");
                    }
                });

                $("[id='parent-" + result.projectGroupId + "'].collapse").html(result.view);
                $("[id='count-" + result.projectGroupId + "'].collapse-count").html(result.count);
            }

            DeselectAll();
        }
    });
</script>