@using Bizon360.Models
@using Gear.Common.Extensions.StringExtensions
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Gear.ProjectManagement.Manager.Domain.Projects.Queries.GetAllProjects
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@model Gear.Manager.Core.EntityServices.ApplicationUsers.Querries.GetApplicationUserDetails.ApplicationUserDetailModel

@{
    Layout = "_BizonLayout";
    ViewData["Title"] = Model.FullName;
    ViewData["Platform"] = Platform.Pm;

    // Breadcrumbs data
    ViewData["FirstNode"] = "Employees";
    ViewData["SecondNode"] = ViewData["Title"];
}

<ul class="nav nav-tabs main-nav-tabs px-40" id="employee-tabs">
    <li class="nav-item">
        <a class="nav-link active" id="employee-profile-tab" data-toggle="tab" href="#employee-profile" role="tab" aria-selected="true">Profile</a>
    </li>
</ul>

<div class="tab-content" id="employee-tab-content">
    <div class="tab-pane fade employee-profile-tab show active" id="employee-profile" role="tabpanel" aria-labelledby="employee-profile-tab">
        <div class="row mx-n-20">
            <div class="col-lg-8 bg-white border rounded py-15 px-20">
                <h6>@Localizer["_overview"]</h6>
                <hr class="hr-description" />

                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_firstName"] / @Localizer["_lastName"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.FullName ?? "-")</p>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_email"] / @Localizer["_username"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.Username ?? "-")</p>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_phone"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.PhoneNumber ?? "-")</p>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_employmentType"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.EmploymentType.ToString().DisplayEmploymentTypeName() ?? "-")</p>
                    </div>
                </div>


                <h6 class="mt-3">@Localizer["_organizationalDetails"]</h6>
                <hr class="hr-description" />


                @*<div class="row no-gutters">
                        <div class="col-fixed-220">
                            <p class="p-sm mb-0">@Localizer["_businessUnits"]</p>
                        </div>
                        <div class="d-block mb-sm-0 mb-1">
                            <p class="p-sm mb-0 color-black">@(Model.BusinessUnits != null ? string.Join(", ", Model.BusinessUnits?.Select(x => x.Value).ToArray()) : "-")</p>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-fixed-220">
                            <p class="p-sm mb-0">@Localizer["_departments"]</p>
                        </div>
                        <div class="d-block mb-sm-0 mb-1">
                            <p class="p-sm mb-0 color-black">@(Model.Departments != null ? string.Join(", ", Model.Departments?.Select(x => x.Value).ToArray()) : "-")</p>
                        </div>
                    </div>*@
                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_teams"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.Teams.Count != 0 ? string.Join(", ", Model.Teams?.Select(x => x.Value).ToArray()) : "-")</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_jobPosition"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.JobPositionName ?? "-")</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_rolesAndPermissions"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.RoleNames.Count != 0 ? string.Join(", ", Model.RoleNames) : "-")</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_status"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@(Model.Active ? @Localizer["_active"] : @Localizer["_inactive"])</p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_created"]</p>
                    </div>
                    <div class="d-block mb-sm-0 mb-1">
                        <p class="p-sm mb-0 color-black">@($"{Model.Created:yyyy-MM-dd}")</p>
                    </div>
                </div>
                
                <div class="row no-gutters">
                    <div class="col-fixed-220">
                        <p class="p-sm mb-0">@Localizer["_projects"]</p>
                    </div>

                    <div class="d-block mb-sm-0 mb-1">
                        @if (ViewBag.Projects == null)
                        {
                            <p class="p-sm mb-0 color-black">-</p>
                        }
                        else
                        {
                            @foreach (var project in ViewBag.Projects)
                            {
                                <a class="font-size-14" style="text-decoration: underline" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">
                                    @project.Name@(project != (ViewBag.Projects as ICollection<ProjectDto>)?.Last() ? ", " : "")
                                </a>
                            }
                        }

                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<footer class="bulk-actions-container show">
    <ul class="list-unstyled list-inline d-md-inline-block d-block float-lg-right mt-lg-0 mt-2 mb-0">
        <li class="list-inline-item">
            <a class="btn btn-success" asp-controller="ApplicationUsers" asp-action="Edit" asp-route-id="@Model.Id">@Localizer["_editProfile"]</a>
        </li>
    </ul>
</footer>
<div class="bulk-hidden-space"></div>
