@model Gear.Manager.Core.EntityServices.Reports.Queries.Filters.GetProjectsByFiltersReport.ProjectFilteredReportListViewModel
@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig


<table id="project-filtered-report" class="table bizon-datatable no-parent dt-logged-time" data-order='[[ 1, "asc" ]]'>
    <thead>
        <tr class="hover-invisible-toggle">
            <th class="no-sort" style="width: 30px">#</th>
            <th class="col-date d-md-table-cell">@Localizer["_project"]</th>
            <th class="col-date d-md-table-cell">@Localizer["_activity"]</th>
            <th class="col-date d-md-table-cell">@Localizer["_assignee"]</th>
            <th class="col-date d-md-table-cell">@Localizer["_status"]</th>
            <th class="col-date d-md-table-cell">@Localizer["_type"]</th>
            <th class="col-date d-md-table-cell">@Localizer["_est."]</th>
            <th class="col-date d-sm-table-cell" style="width: 50px">@Localizer["_log."]</th>
            <th class="col-date d-sm-table-cell" style="width: 50px">@Localizer["_created"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects.OrderBy(x => x.ProjectName))
        {
            foreach (var activity in project.ActivityView.Activities)
            {
                foreach (var assignee in activity.AssigneeView.Assignees)
                {
                    var activityStatus = assignee.LoggedTimeView.LoggedTimes[0].ActivityStatus;
                    var activityType = assignee.LoggedTimeView.LoggedTimes[0].ActivityType;
                    
        <tr class="hover-invisible-toggle">
            <td></td>
            <td class="d-md-table-cell"><a href="@Url.Action("Details", "Projects", new { id = project.ProjectId })">@project.ProjectName</a></td>
            <td class="d-md-table-cell"><a href="@Url.Action("Details", "Activities", new { id = activity.ActivityId })">@activity.ActivityName</a></td>
            <td class="d-md-table-cell"><a href="@Url.Action("Details", "ApplicationUsers", new { id = assignee.AssigneeId })">@assignee.AssigneeName</a></td>
            <td class="d-md-table-cell">@activityStatus</td>
            <td class="d-md-table-cell">@activityType</td>
            <td class="d-md-table-cell">@assignee.LoggedTimeView.TotalEstimatedTime.ToString("N")h</td>
            <td class="d-sm-table-cell">@assignee.LoggedTimeView.TotalLoggedTime.ToString("N")h</td>
            <td class="d-sm-table-cell">@activity.CreateTime.ToShortDateString()</td>
        </tr>
                }
            }
        }
    </tbody>
    <tfoot>
        <tr class="hover-invisible-toggle">
            <td></td>
            <td class="font-size-14 font-weight-600 px-0 py-1">@Localizer["_total"]</td>
            <td class="font-size-14 d-md-table-cell font-weight-600 px-0 py-1">@Model.TotalEstimatedTime.ToString("N")h</td>
            <td class="font-size-14 d-sm-table-cell font-weight-600 px-0 py-1">@Model.TotalLoggedTime.ToString("N")h</td>
            <td></td>
        </tr>
    </tfoot>
</table>

<script>
    EnableDataTable("#project-filtered-report", null, true, 0);
</script>

<script>
    $(document).ready(function() {
        checkHeaders();
    });
</script>

