@page
@model ResetPasswordModel
@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

@{
    Layout = "_LayoutLogin.cshtml";
    ViewData["Title"] = "Reset password";
}

<div class="bizon-auth-container">
    <ul class="nav nav-tabs main-nav-tabs bizon-auth-tabs">
        <li class=" ml-auto nav-item">
            <a class="nav-link" href="/Identity/Account/Login">@Localizer["_logIn"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Identity/Account/ForgotPassword">@Localizer["_resetPassword"]</a>
        </li>
    </ul>
    <div class="nav-tab-border"></div>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <label asp-for="Input.Email" class="float-label">@Localizer["_yourEmail"]</label>
        <input asp-for="Input.Email" type="email" class="form-control" placeholder="Ex. john.doe@@domain.com" required />
        <span asp-validation-for="Input.Email" class="invalid-feedback mt-1 mb-2"></span>

        <label asp-for="Input.Password" class="float-label">@Localizer["_newPassword"]</label>
        <input asp-for="Input.Password" type="password" placeholder="Ex. Hsd2-45sG-98Yj-23Ba" class="form-control" required />
        <span asp-validation-for="Input.Password" class="invalid-feedback mt-1 mb-2"></span>

        <label asp-for="Input.ConfirmPassword" class="float-label">@Localizer["_confirmPassword"]</label>
        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Ex. Hsd2-45sG-98Yj-23Ba" class="form-control" required />
        <span asp-validation-for="Input.ConfirmPassword" class="invalid-feedback mt-1 mb-2"></span>

        <hr class="my-2" />

        <button type="submit" class="btn btn-success d-block ml-auto">@Localizer["_reset"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateField(object) {
            if (object.valid()) {
                if (!object.hasClass("is-valid") && !object.hasClass("skip-valid-state")) {
                    object.addClass("is-valid");
                }

                object.removeClass("is-invalid");
            } else {
                if (!object.hasClass("is-invalid")) {
                    object.addClass("is-invalid");
                }

                object.removeClass("is-valid");
            }
        }

        $(".form-control").keyup(function () {
            validateField($(this));
        });

        $("#new-password-input").keyup(function () {
            var value = $(this).val();

            var validationRules = [{
                name: "minimum-characters",
                regex: new RegExp("^.{8,}$")
            }, {
                name: "minimum-uppercase",
                regex: new RegExp("^.*[A-Z]")
            }, {
                name: "minimum-lowercase",
                regex: new RegExp("^.*[a-z]")
            }, {
                name: "minimum-digits",
                regex: new RegExp("^.*[0-9]")
            }, {
                name: "minimum-special-chars",
                regex: new RegExp("[$&+,:;=?@@#|'<>.^*()%!-]")
            }];

            for (var i = 0; i < validationRules.length; i++) {
                if (validationRules[i].regex.test(value)) {
                    $("[data-validation-rule='" + validationRules[i].name + "']").attr("data-valid", true);
                } else {
                    $("[data-validation-rule='" + validationRules[i].name + "']").attr("data-valid", false);
                }
            }

            if ($("#confirm-password-input").val().length > 0) {
                validateField($("#confirm-password-input"));
            }
        });

        $(".password-toggle").click(function () {
            var $this = $(this);
            $this.toggleClass("active");
            var input = $($this.attr("data-target"));

            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });

        $("form").submit(function() {
            $(".form-control").each(function() {
                validateField($(this));
            });
        });

    </script>
}
