@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Gear.ProjectManagement.Manager.Domain.Sprints.Commands.RenameSprintCommand.RenameSprintCommand
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

<form asp-controller="Sprints" asp-action="Rename" id="form-rename-sprint">
    <div class="modal-body">
        <input asp-for="Id" hidden />

        <label asp-for="Name" class="float-label"></label>
        <input asp-for="Name" class="form-control" placeholder="@Localizer["placeholders_sprintName"]" autocomplete="off" required />
        <span asp-validation-for="Name" class="invalid-feedback"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Localizer["_cancel"]</button>
        <button type="submit" class="btn btn-success" id="btn-rename-sprint">@Localizer["shortCuts_rename"]</button>
    </div>
</form>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script>
    $.saveChanges({
        bindTo: "#btn-rename-sprint",
        formId: "#form-rename-sprint",
        ajaxUrl: "@Url.Action("Rename", "Sprints")",
        successMessage: "@Localizer["messages_editSprintSuccess"]",
        errorMessage: "@Localizer["messages_editSprintError"]",
        buttonText: "@Localizer["shortCuts_rename"]",
        eventFunction: function (result) {
            $("span[data-id='" + result.id + "'].collapse-title").html(result.name);
        }
    });
</script>