@using Bizon360.Models
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig
@model Gear.Manager.Core.EntityServices.JobPositions.Queries.GetJobPositionList.JobPositionListViewModel

@{
    Layout = "_BizonLayout";
    ViewData["Title"] = "Administrative";

    // Breadcrumbs data
    ViewData["FirstNode"] = ViewData["Title"];
}

<partial name="_AdmTabs" />

<div class="row row-m-20 bg-white border rounded top-bar pl-20 pr-20">
    <div class="col-12 d-md-flex p-0">
        <div class="d-md-block d-inline-block">
            <button class="btn btn-primary">@Localizer["_list"]</button>
            @*<button class="btn btn-outline-primary">@Localizer["_grid"]</button>*@
        </div>
        <div class="ml-auto d-inline-block"></div>
        @if (User.UserHasThisPermission(Permissions.JobPositionCreate))
        {
            <button class="btn btn-success ml-auto float-md-none float-right" id="add-job" data-toggle="modal" data-target="#modal" data-controller="JobPositions" data-action="Create">@Localizer["shortCuts_addJobPosition"]</button>
            <div class="top-bar-divider d-md-block d-none"></div>
        }

        <input type="text" class="form-control search-input w-md-100-i mt-md-0 mt-2" placeholder="@Localizer["_search"]" />
    </div>
</div>

<hr class="no-gutters" />

<div id="job-list"></div>

<div class="no-results d-none">
    <p class="mb-0">No matching records found</p>
</div>

<footer class="bulk-actions-container">
    <div class="d-lg-inline-flex d-block">
        <button type="button" class="btn d-block w-lg-auto w-100 btn-outline-secondary" id="deselect-all">@Localizer["shortCuts_deselectAll"] <span class="check-counter d-lg-none"></span></button>
        @if (!User.UserHasThisPermission(Permissions.JobPositionUpdate) && !User.UserHasThisPermission(Permissions.JobPositionDelete))
        {
            <p class="d-lg-inline text-lg-left text-center">@Localizer["messages_noPermessionsEditDeleteJobPositions"]</p>
        }
        else
        {
            <p class="d-lg-inline d-none"><span class="check-counter"></span> @Localizer["msg_jobsSelected"]</p>
        }
    </div>
    <ul class="list-unstyled list-inline d-lg-inline-block d-block float-lg-right mb-0">
        @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
        {
            <li class="d-lg-inline-block d-flex mt-lg-0 mt-2">
                <button type="button" class="bulk-activate-link btn w-lg-auto w-100 btn-outline-primary mr-2" data-toggle="modal" data-target="#modal" data-controller="JobPositions" data-param-name="id" data-action="ActivateJobPosition">@Localizer["shortCuts_activateSelected"]</button>
                <button type="button" class="bulk-deactivate-link btn w-lg-auto w-100 btn-outline-primary mr-lg-2" data-toggle="modal" data-target="#modal" data-controller="JobPositions" data-param-name="id" data-action="DeactivateJobPosition">@Localizer["shortCuts_deactivateSelected"]</button>
            </li>
        }
        @if (User.UserHasThisPermission(Permissions.JobPositionDelete))
        {
            <li class="d-lg-inline-block d-none">
                <div class="divider"></div>
            </li>
            <li class="d-lg-inline-block d-block mt-lg-0 mt-2">
                <button type="button" class="bulk-delete-link btn d-block w-lg-auto w-100 btn-danger ml-lg-2" data-toggle="modal" data-target="#modal" data-controller="JobPositions" data-param-name="id" data-action="Delete">@Localizer["shortCuts_deleteSelected"]</button>
            </li>
        }
    </ul>
</footer>
<div class="bulk-hidden-space d-none"></div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/dev/adm.js"></script>

    <script>
        $(document).ready(function() {

            var jp = new JobPositionContainer();
            $("#job-list").html(LOADER);

            jp.getJobList();
            $.confirmDelete();

            $("#tab-job-position").addClass("active");

            $(".search-input").keyup(function() {
                $(".bizon-datatable").DataTable().search($(this).val()).draw();
            });

            @if (User.UserHasThisPermission(Permissions.JobPositionCreate))
            {
                <text>
                    $.bindFormModal({
                        bindTo: "#add-job",
                        modalTitle: "@Localizer["shortCuts_addJobPosition"]",
                        modalSize: "regular"
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
            {
                <text>
                    $.bindFormModal({
                        bindTo: ".edit-job",
                        modalTitle: "@Localizer["shortCuts_editJobPosition"]",
                        modalSize: "regular"
                    });
                </text>

                <text>
                    $.bindFormModal({
                        bindTo: ".rename-job",
                        modalTitle: "@Localizer["shortCuts_renameJobPosition"]",
                        modalSize: "regular"
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
            {
                <text>
                    $.bindDeleteModal({
                        bindTo: ".deactivate-job",
                        bodyActionName: "Deactivate",
                        modalTitle: "@Localizer["shortCuts_deactivateJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deactivateJobPosition"]",
                        errorMessage: "@Localizer["msgError_deactivateJobPosition"]",
                        eventFunction: jp.getJobList
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
            {
                <text>
                    $.bindDeleteModal({
                        bindTo: ".activate-job",
                        bodyActionName: "Activate",
                        colorButton: "success",
                        modalTitle: "@Localizer["shortCuts_activateJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_activateJobPosition"]",
                        errorMessage: "@Localizer["msgError_activateJobPosition"]",
                        eventFunction: jp.getJobList
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionDelete))
            {
                <text>
                    $.bindDeleteModal({
                        bindTo: ".delete-job",
                        modalTitle: "@Localizer["shortCuts_deleteJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deleteJobPosition"]",
                        errorMessage: "@Localizer["msgError_deleteJobPosition"]",
                        eventFunction: jp.getJobList
                    });
                </text>
            }

            // --------------------------------------
            // Bulk actions

            @if (User.UserHasThisPermission(Permissions.JobPositionDelete))
            {
                <text>
                    // Bulk delete jobs
                    $.bindDeleteModal({
                        bulk: true,
                        bindTo: ".bulk-delete-link",
                        modalTitle: "@Localizer["shortCuts_deleteJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deleteJobPosition"]",
                        errorMessage: "@Localizer["msgError_deleteJobPosition"]",
                        eventFunction: function(result) {
                            jp.getJobList();
                            DeselectAll();
                        }
                    });
                </text>
            }

            @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
            {
                <text>
                    // Bulk Activate projects
                    $.bindDeleteModal({
                        bulk: true,
                        bindTo: ".bulk-activate-link",
                        bodyActionName: "Activate",
                        colorButton: "success",
                        modalTitle: "@Localizer["shortCuts_activateJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_activateJobPosition"]",
                        errorMessage: "@Localizer["msgError_activateJobPosition"]",
                        eventFunction: function(result) {
                            jp.getJobList();
                            DeselectAll();
                        }
                    });

                    // Bulk deactivate projects
                    $.bindDeleteModal({
                        bulk: true,
                        bindTo: ".bulk-deactivate-link",
                        bodyActionName: "Deactivate",
                        modalTitle: "@Localizer["shortCuts_deactivateJobPosition"]",
                        modalSize: "regular",
                        type: "@Localizer["types_jobPosition"]",
                        successMessage: "@Localizer["msgSuccess_deactivateJobPosition"]",
                        errorMessage: "@Localizer["msgError_deactivateJobPosition"]",
                        eventFunction: function(result) {
                            jp.getJobList();
                            DeselectAll();
                        }
                    });
                </text>
            }

        });
    </script>
}
