@using System.Security.Claims
@using Bizon360.Models
@using Bizon360.Utils
@using Gear.Common.Extensions.EnumExtensions
@using Gear.Common.Extensions.StringExtensions
@using Gear.Domain.PmEntities.Enums
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Gear.ProjectManagement.Manager.Domain.Activities.Queries.GetActivityListFromParentEntity.ActivityListViewModel
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

@if (Model.Activities.Any())
{
    foreach (var activity in Model.Activities)
    {
        <tr class="hover-invisible-toggle" id="entity-@activity.Id">
            <td>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input datatables-check" id="@activity.Id" data-parent-id="@ViewBag.ParentId" />
                    <label class="custom-control-label" for="@activity.Id"></label>
                </div>
            </td>
            <td class="td-badge">
                <span class="d-none">@Convert.ToInt32(activity.Priority)</span>
                <span class="badge @ProjectsViewHelper.GetPriorityBadgeColor(activity.Priority)">@activity.Priority</span>
            </td>
            <td class="d-sm-table-cell d-none">
                @($"A{activity.Number:00000}")
            </td>
            <td>
                <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.Id" class="datatables-title entity-title @ActivitiesViewHelper.ActivityTitleClass(activity.Status)">@activity.Name</a>
                <span class="badge @activity.ActivityTypeColor.ToString().BadgeColorConvert() font-weight-bold no-bg top-webkit-inline-box d-lg-inline d-none ml-10">@activity.ActivityType</span>
                @if (activity.Assignees.Any(a => a.Id == Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)))
                {
                    <div class="position-relative d-lg-inline-block d-none">
                        <button class="btn btn-success btn-sm datatables-button hover-invisible top-webkit-inline-box log-time-link" data-controller="LoggedTime" data-action="LogTimeFromActivitiesPage" data-activity-id="@activity.Id" data-progress="@activity.Progress">@Localizer["shortCuts_logTime"]</button>
                    </div>
                }
            </td>
            @if (ViewBag.ParentType == ActivityParentType.UserActivities)
            {
                <td>
                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@activity.ProjectId" class="datatables-title entity-title">@activity.ProjectName</a>
                </td>
            }
            <td class="d-md-table-cell d-none">@($"{activity.EstimatedTime}h")</td>
            <td class="d-md-table-cell d-none"><span class="td-logged-time">@activity.LoggedTime</span>h</td>
            <td class="td-progress d-md-table-cell d-none">
                <span class="d-none">@activity.Progress</span>
                <div class="d-flex">
                    <div class="progress mb-1" title="@activity.Progress%">
                        <div class="progress-bar @ProjectsViewHelper.GetProgressBarColor(activity.Progress)" role="progressbar" style="width: @activity.Progress%" aria-valuenow="@activity.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <span class="pb-percentage">@activity.Progress%</span>
                </div>
            </td>
            <td class="d-md-table-cell d-none">
                <div class="d-none">@Convert.ToInt32(activity.Status)</div>
                @activity.Status
            </td>
            <td class="td-users d-xl-table-cell d-none activity-assignees" data-id="@activity.Id">
              <partial name="_Assignees" model="activity" />
            </td>
            <td class="d-sm-table-cell d-none">
                @if (activity.SprintId != null)
                {
                    <span class="sprint-badge" title="@activity.Sprint"></span>
                }
                @if (activity.DueDate != null)
                {
                    @($"{activity.DueDate:yyyy-MM-dd}")
                }
                else
                {
                    <span class="datatables-none top-webkit-inline-box">-</span>
                }
            </td>
            <td class="td-options">
                <div class="dropdown datatables-dropdown">
                    <div class="more-vertical hover-invisible hover-lg" data-toggle="dropdown"></div>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.Id" class="dropdown-item">@Localizer["shortCuts_open"]</a>
                        <a asp-controller="Activities" asp-action="Edit" asp-route-id="@activity.Id" class="dropdown-item">@Localizer["shortCuts_edit"]</a>
                        <a href="javascript:" class="dropdown-item rename-entity-link" data-toggle="modal" data-target="#modal" data-controller="Activities" data-action="Rename" data-id="@activity.Id" data-name="@activity.Name">@Localizer["shortCuts_rename"]</a>
                        @if (activity.Assignees.Any(a => a.Id == Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)))
                        {
                            <a href="javascript:" class="dropdown-item log-time-link" data-controller="LoggedTime" data-action="LogTimeFromActivitiesPage" data-activity-id="@activity.Id" data-progress="@activity.Progress">@Localizer["shortCuts_logTime"]</a>
                        }
                        <a href="javascript:" class="dropdown-item set-entity-priority-link" data-toggle="modal" data-target="#modal" data-controller="Activities" data-action="EditPriority" data-id="@activity.Id" data-priority="@activity.Priority">@Localizer["shortCuts_setPriority"]</a>
                        <a href="javascript:" class="dropdown-item edit-entity-status-link" data-toggle="modal" data-target="#modal" data-controller="Activities" data-action="EditStatus" data-id="@activity.Id" data-status="@activity.Status">@Localizer["shortCuts_updateStatus"]</a>
                        <a href="javascript:" class="dropdown-item move-to-list-link" data-toggle="modal" data-target="#modal" data-controller="Activities" data-action="MoveToList" data-id="@activity.Id" data-list-id="@ViewBag.ParentId" data-project-id="@activity.ProjectId">@Localizer["shortCuts_moveToList"]</a>
                        <a href="javascript:" class="dropdown-item">Assign to sprint</a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:" class="dropdown-item delete-entity-link" data-toggle="modal" data-target="#modal" data-controller="Activities" data-action="Delete" data-id="@activity.Id" data-name="@activity.Name">@Localizer["shortCuts_delete"]</a>
                    </div>
                </div>
            </td>
        </tr>
    }
}