@using Gear.Domain.PmEntities.Enums
@using Microsoft.Extensions.Localization
@model Gear.ProjectManagement.Manager.Domain.Activities.Commands.CreateActivity.CreateActivityCommand
@inject IStringLocalizer Localizer
@{
    ViewData["Title"] = Localizer["shortCuts_addActivity"];
}
@section Styles {
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
}

<link href="~/css/summer-note.css" rel="stylesheet" />


<form asp-controller="Activities" asp-action="Create" id="form-create-activity">
    <input asp-for="ProjectId" hidden />
    <input asp-for="Status" hidden />

    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label asp-for="Name" class="float-label"></label>
                <input asp-for="Name" class="form-control" placeholder="@Localizer["placeholders_activityName"]" autofocus="autofocus" autocomplete="off" required />
                <span asp-validation-for="Name" class="invalid-feedback mt-1 mb-2"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="EstimatedHours" class="float-label"></label>
                <input asp-for="EstimatedHours" class="form-control" type="number" min="0" placeholder="@Localizer["placeholders_activityEstimatedTime"]" autofocus="autofocus" autocomplete="off" required />
                <span asp-validation-for="EstimatedHours" class="invalid-feedback mt-1 mb-2"></span>
            </div>
            <div class="col-sm-4 px-sm-0">
                <label asp-for="Priority" class="float-label-select"></label>
                <select asp-for="Priority" asp-items="Html.GetEnumSelectList<ActivityPriority>()" class="form-control selectpicker" id="priority"></select>
                <span asp-validation-for="Priority" class="invalid-feedback mt-1 mb-2"></span>
            </div>
            <div class="col-sm-4">
                <label asp-for="ActivityTypeId" class="float-label-select"></label>
                <select asp-for="ActivityTypeId" asp-items="@(((List<SelectListItem>) ViewBag.ActivityTypes).Prepend(new SelectListItem
                                                              {
                                                                  Value = string.Empty,
                                                                  Text = "- Select -",
                                                                  Selected = true
                                                              }))"
                        placeholder="@Localizer["messages_clickToSelect"]" class="form-control selectpicker" id="activity-type-select" required data-live-search="true">
                </select>
                <span asp-validation-for="ActivityTypeId" class="invalid-feedback mt-1 mb-2"></span>
            </div>
        </div>
        <hr class="mt-0 mb-3" />
        <div class="row">
            <div class="col-sm-6 pr-sm-2">
                <label asp-for="Assignees" class="float-label-select"></label>
                <select asp-for="Assignees" asp-items="@((List<SelectListItem>) ViewBag.ApplicationUsers)" placeholder="@Localizer["messages_clickToSelect"]" class="form-control selectpicker" id="members-select" required data-live-search="true"></select>
                <span asp-validation-for="Assignees" class="invalid-feedback mt-1 mb-2"></span>
                <img class="selectpicker-loader d-none" src="~/img/loader.gif" data-input="#members-select" />
            </div>
            <div class="col-sm-6 pl-sm-2">
                <label asp-for="ActivityListId" class="float-label-select"></label>
                <select asp-for="ActivityListId" asp-items="@(((List<SelectListItem>) ViewBag.ActivityLists).Prepend(new SelectListItem
                                                              {
                                                                  Value = string.Empty,
                                                                  Text = "- Select -",
                                                                  Selected = true
                                                              }))"
                        placeholder="@Localizer["messages_clickToSelect"]" class="form-control selectpicker" id="activity-list-select" data-live-search="true">
                </select>
                <span asp-validation-for="ActivityListId" class="invalid-feedback mt-1 mb-2"></span>
                <img class="selectpicker-loader d-none" src="~/img/loader.gif" data-input="#activity-list-select" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="SprintId" class="float-label-select"></label>
                <select asp-for="SprintId" asp-items="@(((List<SelectListItem>) ViewBag.Sprints).Prepend(new SelectListItem
                                                        {
                                                            Value = string.Empty,
                                                            Text = "- Select -",
                                                            Selected = true
                                                        }))" 
                        placeholder="@Localizer["messages_clickToSelect"]" class="form-control selectpicker" id="sprints-select" data-live-search="true">
                </select>
                <span asp-validation-for="SprintId" class="invalid-feedback mt-1 mb-2"></span>
                <img class="selectpicker-loader d-none" src="~/img/loader.gif" data-input="#sprints-select" />
            </div>
            <div class="col-sm-4 px-sm-0">
                <label asp-for="StartDate" class="float-label"></label>
                <input asp-for="StartDate" type="text" asp-format="{0:yyyy/MM/dd}" class="form-control datepicker" id="start-date" placeholder="@Localizer["messages_clickToSelect"]" autocomplete="off" readonly />
                <span asp-validation-for="StartDate" class="invalid-feedback mt-1 mb-2"></span>
            </div>
            <div class="col-sm-4">
                <label asp-for="DueDate" class="float-label"></label>
                <input asp-for="DueDate" type="text" asp-format="{0:yyyy/MM/dd}" class="form-control datepicker" id="due-date" placeholder="@Localizer["messages_clickToSelect"]" autocomplete="off" readonly />
                <span asp-validation-for="DueDate" class="invalid-feedback mt-1 mb-2"></span>
            </div>
        </div>
        <hr class="mt-0 mb-4" />
        <div class="position-relative">
            <label asp-for="Description" class="summernote-label"></label>
            <textarea asp-for="Description" id="summernote-create"></textarea>
            <span asp-validation-for="Description" class="invalid-feedback mt-1 mb-2"></span>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" id="btn-create" class="btn btn-success">Add</button>
        <button type="submit" class="btn btn-success" id="btn-create-activity-new">@Localizer["_addAndNew"]</button>
    </div>

</form>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="~/lib/summernote/summernote-bs4.js"></script>
<script>
    function updateDropdown(projectId, controller, action, inputSelector) {
        var loader = $(`[data-input='${inputSelector}'].selectpicker-loader`);
        if (loader.hasClass("d-none")) loader.removeClass("d-none");
        $.ajax({
            url: "/" + controller + "/" + action,
            type: "GET",
            data: { projectId: projectId },
            success: function (result) {
                if (!loader.hasClass("d-none")) loader.addClass("d-none");
                var select = $(inputSelector);
                select.empty();

                if (result.length <= 1) {
                    select.append(`<option disabled selected value=''>There are no entries related to this project.</option>`);
                    select.attr("disabled", true);
                    select.selectpicker("refresh");
                    return;
                }

                for (var i = 0; i < result.length; i++) {
                    select.append($("<option/>",
                        {
                            value: result[i].value,
                            text: result[i].text
                        })
                    );
                }
                select.attr("disabled", false);
                select.selectpicker("refresh");
            }
        });
    }
</script>

<script>
    $(document).ready(function () {

        //#region Summernote configuration
        EnableSummerNote("#summernote-create");
        //#endregion

        $(".selectpicker").selectpicker();

        $(".datepicker").datepicker({
            format: "yyyy/mm/dd",
            maxViewMode: 3,
            todayBtn: "linked",
            autoclose: true,
            clearBtn: true
        });

        $("#project-select").change(function () {
            var id = $(this).val();

            updateDropdown(id, "Activities", "GetMemberListByProject", "#members-select");
            updateDropdown(id, "Activities", "GetActivityListsByProject", "#activity-list-select");
            updateDropdown(id, "Activities", "GetSprintListByProject", "#sprints-select");
        });

        $("#sprints-select").change(function () {
            $.ajax({
                url: "@Url.Action("GetSprintDates", "Sprints")",
                type: "GET",
                data: { id: $(this).val() },
                success: function (result) {
                    $("#start-date").datepicker("update", result.startDate);
                    $("#due-date").datepicker("update", result.dueDate);
                }
            });
        });

        $('#form-create-activity').on("submit", function () {
            var isValid = $(this).valid();

            if (isValid) {
                DisableButton("#submit-form");
            }
        });

        $.saveChanges({
            bindTo: "#btn-create",
            formId: "#form-create-activity",
            ajaxUrl: "@Url.Action("Create", "Activities")",
            successMessage: "@Localizer["messages_createActivitySuccess"]",
            errorMessage: "@Localizer["messages_createActivityError"]",
            buttonText: "@Localizer["_add"]",
            eventFunction: GetActivities
        });

    });
</script>
<script>
    $.saveChanges({
        bindTo: "#btn-create-activity-new",
        formId: "#form-create-activity",
        ajaxUrl: "@Url.Action("Create", "Activities")",
        successMessage: "@Localizer["messages_createActivitySuccess"]",
        errorMessage: "@Localizer["messages_createActivityError"]",
        buttonText: "@Localizer["_addAndNew"]",
        new: true,
        eventFunction: GetActivities
    }, true);
</script>


