@using Bizon360.Models
@using Gear.Domain.PmEntities.Enums
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Gear.ProjectManagement.Manager.Domain.Activities.Commands.ShortcutActions.UpdatePriority.UpdatePriorityCommand
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

<form asp-controller="Activities" asp-action="EditPriority" id="form-set-priority">
    <div class="modal-body">
        <input asp-for="Id" class="form-control" hidden />

        <label asp-for="Priority" class="float-label-select"></label>
        <select asp-for="Priority" asp-items="Html.GetEnumSelectList<ActivityPriority>()" class="form-control selectpicker"></select>
        <span asp-validation-for="Priority" class="invalid-feedback"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Localizer["_cancel"]</button>
        <button type="submit" class="btn btn-success" id="btn-set-priority">@Localizer["shortCuts_update"]</button>
    </div>
</form>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(".selectpicker").selectpicker();

    $.saveChanges({
        bindTo: "#btn-set-priority",
        formId: "#form-set-priority",
        ajaxUrl: "@Url.Action("EditPriority", "Activities")",
        successMessage: "@Localizer["messages_editActivitySuccess"]",
        errorMessage: "@Localizer["messages_editActivityError"]",
        buttonText: "@Localizer["shortCuts_update"]",
        eventFunction: function (result) {

            if ($('div').hasClass('grid')) {
                $("span[id='" + result.id + "'].priority").html(result.priority);
                $("span[id='" + result.id + "'].priority").attr("class", "text "+ GetPriorityTextColor(result.priority) + " priority").html(result.priority);
            }
            else {
                $("tr[id='entity-" + result.id + "'] .badge:not(.ml-10)").attr("class", "badge " + GetPriorityBadgeColor(result.priority)).html(result.priority);
                $("tr[id='search-entity-" + result.id + "'] .badge:not(.ml-10)").attr("class", "badge " + GetPriorityBadgeColor(result.priority)).html(result.priority);
                $("[data-id='" + result.id + "'].set-entity-priority-link").attr("data-priority", result.priority);
            }

            if ($("[data-id='" + result.id + "'].global-set-entity-priority-link") != null) {
                $("[data-id='" + result.id + "'].global-set-entity-priority-link").attr("data-priority", result.priority);
            }
        }
    });
</script>