@using System.Security.Claims
@using Bizon360.Models
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig
@model Gear.Manager.Core.EntityServices.JobPositions.Queries.GetJobPositionList.JobPositionListViewModel

@if (Model.JobPositions.Any())
{
    <table class="table bizon-datatable dt-job-positions" id="table-@Model.ParentId" data-order='[[ 2, "asc" ]]'>
        <thead>
            <tr class="hover-invisible-toggle">
                <th class="no-sort">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input datatables-bulk-check" id="bulk-@Model.ParentId" />
                        <label class="custom-control-label" for="bulk-@Model.ParentId"></label>
                    </div>
                </th>
                <th class="no-sort">@Localizer["_jobPosition"]</th>
                <th hidden="">RowOrder</th>
                <th class="col-abbr d-md-table-cell d-none no-sort">@Localizer["_abbr."]</th>
                <th class="col-abbr d-md-table-cell d-none no-sort">@Localizer["_hourlyRate"]</th>
                <th class="col-abbr d-md-table-cell d-none no-sort">@Localizer["_status"]</th>
                <th class="col-abbr d-md-table-cell d-none no-sort">@Localizer["_created"]</th>
                <th class="col-abbr d-md-table-cell d-none no-sort">@Localizer["_modified"]</th>
                <th class="no-sort">
                    <div class="dropdown datatables-th-dropdown">
                        <div class="more-vertical hover-invisible hover-lg" data-toggle="dropdown"></div>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-abbr-@Model.ParentId" data-table-column-id="3" checked />
                                <label class="custom-control-label" for="dt-abbr-@Model.ParentId">
                                    Abbr.
                                    <span>Abbreviation</span>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-rate-@Model.ParentId" data-table-column-id="4" checked />
                                <label class="custom-control-label" for="dt-rate-@Model.ParentId">
                                    Hourly rate
                                    <span>Hourly rate</span>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-status-@Model.ParentId" data-table-column-id="5" checked />
                                <label class="custom-control-label" for="dt-status-@Model.ParentId">
                                    @Localizer["_status"]
                                    <span>@Localizer["_status"]</span>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-created-@Model.ParentId" data-table-column-id="6" checked />
                                <label class="custom-control-label" for="dt-created-@Model.ParentId">
                                    @Localizer["_created"]
                                    <span>@Localizer["_created"]</span>
                                </label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input datatables-column-toggle" id="dt-modified-@Model.ParentId" data-table-column-id="7" checked />
                                <label class="custom-control-label" for="dt-modified-@Model.ParentId">
                                    @Localizer["_modified"]
                                    <span>@Localizer["_modified"]</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="table-ordered">

            @foreach (var jp in Model.JobPositions.OrderBy(x => x.RowOrder).ToList())
            {
                <tr class="hover-invisible-toggle" id="entity-@jp.Id">
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input datatables-check" id="@jp.Id" data-parent-id="@Model.ParentId" />
                            <label class="custom-control-label" for="@jp.Id"></label>
                        </div>
                    </td>
                    <td class="order-row" data-id="@jp.Id">
                        <span class="datatables-dragdrop"></span>
                        <a href="javascript:" class="datatables-title">@jp.Name</a>
                        <div class="position-relative d-lg-inline-block d-none">
                            <a href="javascript:" class="btn btn-success btn-sm datatables-button hover-invisible top-webkit-inline-box edit-entity-link" data-parent-id="@Model.ParentId" data-controller="JobPositions" data-action="Edit" data-id="@jp.Id">@Localizer["shortCuts_edit"]</a>
                        </div>
                    </td>
                    <td hidden> @jp.RowOrder </td>
                    <td class="d-md-table-cell d-none">@jp.Abbreviation</td>
                    @if (jp.HourlySalary != null)
                    {
                        <td class="d-md-table-cell d-none">&euro; @jp.HourlySalary</td>
                    }
                    else
                    {
                        <td class="d-md-table-cell d-none"> - </td>
                    }
                    @if (jp.Active)
                    {
                        <td class="td-badge d-md-table-cell d-none sorting_1">
                            <span class="badge badge-outline-success">@Localizer["_active"]</span>
                        </td>
                    }
                    else
                    {
                        <td class="td-badge d-md-table-cell d-none sorting_1">
                            <span class="badge badge-outline-secondary">@Localizer["_inactive"]</span>
                        </td>
                    }
                    <td class="d-md-table-cell d-none">@jp.CreatedTime.ToString("yyyy-MM-dd")</td>
                    <td class="d-md-table-cell d-none">@jp.ModifiedTime.ToString("yyyy-MM-dd")</td>
                    <td class="td-options">
                        <div class="dropdown datatables-dropdown">
                            <div class="more-vertical hover-invisible hover-lg" id="dropdown-1" data-toggle="dropdown"></div>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-1">
                                @if (User.UserHasThisPermission(Permissions.JobPositionUpdate))
                                {
                                    <a href="javascript:" class="dropdown-item edit-entity-link" data-controller="JobPositions" data-action="Edit" data-id="@jp.Id" data-parent-id="@Model.ParentId">@Localizer["shortCuts_edit"]</a>
                                    <a href="javascript:" class="dropdown-item rename-entity-link" data-controller="JobPositions" data-action="RenameJobPosition" data-id="@jp.Id" data-parent-id="@Model.ParentId">@Localizer["_rename"]</a>
                                    @if (jp.Active)
                                    {
                                        <a href="javascript:" class="dropdown-item deactivate-job" data-controller="JobPositions" data-action="DeactivateJobPosition" data-id="@jp.Id" data-name="@jp.Name" data-parent-id="@Model.ParentId">Deactivate</a>
                                    }
                                    else
                                    {
                                        <a href="javascript:" class="dropdown-item activate-job" data-controller="JobPositions" data-action="ActivateJobPosition" data-id="@jp.Id" data-name="@jp.Name" data-parent-id="@Model.ParentId">Activate</a>
                                    }
                                }

                                @if (User.UserHasThisPermission(Permissions.DepartmentTeamUpdate))
                                {
                                    <a href="javascript:" class="dropdown-item remove-entity-link" data-controller="DepartmentTeams" data-action="RemoveJobFromTeam" data-id="@jp.Id" data-name="@jp.Name" data-parent-id="@Model.ParentId">Remove</a>
                                }

                                @if (User.UserHasThisPermission(Permissions.JobPositionDelete))
                                {
                                    <div class="dropdown-divider"></div>
                                    <a href="javascript:" class="dropdown-item delete-entity-link" data-controller="JobPositions" data-action="Delete" data-id="@jp.Id" data-name="@jp.Name" data-parent-id="@Model.ParentId">@Localizer["_delete"]</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="mb-0 mt-2">@Localizer["msgError_noJobsInTeam"]</p>
}

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script src="~/lib/jqueryui/jquery-ui.js"></script>
<script src="~/js/dev/adm.js"></script>

<script>
    $(document).ready(function() {
        RefreshCount("@Model.ParentId");

        EnableDataTable("#table-@Model.ParentId", "JobPositionsColumns" + "@Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)");
        $.bindColumnToggle({
            cookieKey: "JobPositionsColumns" + "@Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value)"
        });
    });

    @if (User.UserHasThisPermission(Permissions.DepartmentTeamUpdate))
    {
        <text>
    OrderTableRows({
        tBody: ".table-ordered",
        tRow: ".order-row",
        actionUrl: "/JobPositions/UpdateOrder/"
    }); </text>
    }

</script>