@using Bizon360.Models
@using Bizon360.Utils
@using Gear.Common.Extensions.StringExtensions
@using Gear.Domain.PmEntities.Enums
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using Newtonsoft.Json
@model Gear.ProjectManagement.Manager.Domain.ChangeRequests.Queries.GetChangeRequestDetails.ChangeRequestDetailModel
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

<link href="~/css/summer-note.css" rel="stylesheet" />
<link href="~/css/custom-file-input.css" rel="stylesheet" />

<form class="form-details-change-request" method="post" enctype="multipart/form-data" asp-controller="Activities" asp-action="CreateActivity">
    <input name="RequestName" hidden value="@Model.Name" />
    <input name="RequestId" hidden value="@Model.Id" />
    <input name="ProjectName" hidden value="@Model.ProjectName" />
    <input name="ProjectId" hidden value="@Model.ProjectId" />
    <input name="Description" hidden value="@Model.Description" />
    <input name="Priority" hidden value="@Model.Priority" />
    <input name="ProjectNumber" hidden value="@Model.ProjectNumber"/>
    <input name="ChangeRequestNumber" hidden value="@Model.Number" />
    <div class="modal-body">
        <div class="row mb-3">
            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["placeholders_requestName"]</p>
            </div>

            <div class="col-lg-8">
                <p class="p-sm color-black ml-sm-auto mb-sm-0 mb-2" name="Name">@Model.Name</p>
            </div>

            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["placeholders_requestID"]</p>
            </div>

            <div class="col-lg-8">
                <p class="p-sm color-black ml-sm-auto mb-sm-0 mb-2"> @($"R{Model.Number:00000}")</p>
            </div>

            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["_priority"]</p>
            </div>

            <div class="col-lg-8">
                <p class="p-sm ml-sm-auto mb-sm-0 mb-2 color-@ProjectsViewHelper.GetPriorityColor(Model.Priority) font-weight-600">@Model.Priority</p>
            </div>

            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["_status"]</p>
            </div>

            <div class="col-lg-8">
                <p class="p-sm ml-sm-auto mb-sm-0 mb-2 color-@ProjectsViewHelper.GetRequestStatusColor(Model.Status) font-weight-600">@Model.Status</p>
            </div>

            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["_project"]</p>
            </div>

            <div class="col-lg-8">
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@Model.ProjectId" target="_blank" class="font-size-14 ml-sm-auto mb-sm-0 mb-2">@Model.ProjectName</a>
            </div>



            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["_createdDate"]</p>
            </div>

            <div class="col-lg-8">
                <p class="p-sm color-black ml-sm-auto mb-sm-0 mb-2">@($"{Model.CreatedTime:yyyy-MM-dd}")</p>
            </div>

            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["_modifiedDate"]</p>
            </div>

            <div class="col-lg-8">
                <p class="p-sm color-black ml-sm-auto mb-sm-0 mb-2">@($"{Model.ModifyTime:yyyy-MM-dd}")</p>
            </div>

            <div class="col-lg-4">
                <p class="p-sm mb-0">@Localizer["_requestedBy"]</p>
            </div>

            <div class="col-lg-8">

                <p class="p-sm color-black ml-sm-auto mb-sm-0 mb-2">
                    <a asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@Model.AuthorId">@Model.AuthorName</a>
                </p>

            </div>

            @if (Model.Status == ChangeRequestStatus.Approved)
            {
                <div class="col-lg-4">
                    <p class="p-sm mb-0">@Localizer["_acceptedDate"]</p>
                </div>
            }
            else if (Model.Status == ChangeRequestStatus.Refused)
            {
                <div class="col-lg-4">
                    <p class="p-sm mb-0">@Localizer["_refusedDate"]</p>
                </div>
            }

            @if (Model.Status == ChangeRequestStatus.Approved || Model.Status == ChangeRequestStatus.Refused)
            {
                <div class="col-lg-8">
                    <p class="p-sm color-black ml-sm-auto mb-sm-0 mb-2">@($"{Model.ReviewDate:yyyy-MM-dd}")</p>
                </div>
            }

            @if (Model.Status == ChangeRequestStatus.Approved)
            {
                <div class="col-lg-4">
                    <p class="p-sm mb-0">@Localizer["_acceptedBy"]</p>
                </div>
            }
            else if (Model.Status == ChangeRequestStatus.Refused)
            {
                <div class="col-lg-4">
                    <p class="p-sm mb-0">@Localizer["_refusedBy"]</p>
                </div>
            }

            @if (Model.Status == ChangeRequestStatus.Approved || Model.Status == ChangeRequestStatus.Refused)
            {
                <div class="col-lg-8">
                    <p class="p-sm color-black ml-sm-auto mb-sm-0 mb-2">
                        <a asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@Model.ReviewById">@Model.ReviewByName</a>
                    </p>

                </div>
            }

        </div>

        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <h6>@Localizer["_abstract"]</h6>
            <hr class="hr-description" />
            <div class="p-sm color-black mb-0 s-note-text-black">
                @Html.Raw(Model.Description)
            </div>
        }

        @if (Model.Status == ChangeRequestStatus.Refused)
        {
            @if (!string.IsNullOrEmpty(Model.Comment))
            {
                <h6> @Localizer["_comment"] </h6>
                <hr class="hr-description" />
                <div class="p-sm color-black mb-0 s-note-text-black">
                    @Html.Raw(Model.Comment)
                </div>
            }
        }

        <h6 class="mt-3">Attach files</h6>
        <hr class="hr-description" />

        <div class="files"></div>
        @if (Model.Status != ChangeRequestStatus.Approved)
        {
            <button type="button" class="btn btn-success" id="upload-files">
                Attach files&hellip;
            </button>

            <div id="files-div" style="display:none">
                <input type="file" name="File" id="file" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" />
                <label id="attach-file" for="file">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z" />
                    </svg> <span>Attach files&hellip;</span>
                </label>

                <input class="btn btn-success login-on-cloud" type="submit" value="CloudAuth" form="LoginForm">
            </div>
        }

    </div>
    <div class="modal-footer">
        @if (Model.Status == ChangeRequestStatus.Unprocessed && User.UserHasThisPermission(Permissions.ChangeRequestReject))
        {
            if (User.UserHasThisPermission(Permissions.ChangeRequestReject))
            {
                <a href="javascript:" class="btn btn-danger refuse-request-link"
                   data-controller="ChangeRequests"
                   data-action="RefuseChangeRequest"
                   data-id="@Model.Id">
                    @Localizer["shortCuts_refuse"]
                </a>


            }
            if (User.UserHasThisPermission(Permissions.ChangeRequestApprove))
            {
                <button type="submit" class="btn btn-success approve-request-link">@Localizer["shortCuts_accept"]</button>
            }
        }
        else if (Model.Status == ChangeRequestStatus.Approved || !User.UserHasThisPermission(Permissions.ChangeRequestApprove) || !User.UserHasThisPermission(Permissions.ChangeRequestReject))
        {
            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Localizer["shortCuts_close"]</button>
        }
        else if (User.UserHasThisPermission(Permissions.ChangeRequestApprove))
        {
            <button type="submit" class="btn btn-success approve-request-link">@Localizer["shortCuts_accept"]</button>
        }
    </div>

    <!-- MODAL: Upload file -->
    <div class="modal fade" id="modal-add-file" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Upload File</h6>
                    <i data-feather="x" class="modal-close-icon" data-dismiss="modal" aria-label="Close"></i>
                </div>
                <div class="modal-body">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="OneDriveUploadFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                    <span class="color-danger" id="error"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="OneDriveUploadFileAction">Add</button>
                </div>
            </div>
        </div>
    </div>

</form>
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script src="~/js/dev/custom-file-input.js"></script>
<script>
    $(document).ready(function () {

            // Add the following code if you want the name of the file appear on select
            if (@ViewBag.IsAuthenticatedOnCloud.ToString().ToLower()) {
                $(".login-on-cloud").hide();
                getFiles();
            } else {
                $("#attach-file").hide();
            }
        });
</script>

@if (User.UserHasThisPermission(Permissions.ChangeRequestUpdate))
{
    <text>
        <script>
                //Move to a generic function
                $("#OneDriveUploadFileAction").click(function() {
                    if (!$("#OneDriveUploadFile").val()) {
                        $.errorAlert({
                            title: "Error",
                            message: "Upload File missing"
                        });
                    } else {
                        var file = $("#OneDriveUploadFile")[0];
                        const size = (file.files[0].size / 1024 / 1024).toFixed(2);

                        if (size > 25) {
                            $.errorAlert({
                                title: "Error",
                                message: "File to big, please select a file less than  25 MB!"
                            });
                        } else {
                            DisableButton("#upload-files");
                            var formData = new FormData();
                            formData.append("projectName", `@ViewBag.ProjectName`);
                            formData.append("projectId", `@Model.ProjectId`);
                            formData.append("entityId", `@Model.Id`);
                            formData.append("changeRequestName", `@Model.Name`);
                            formData.append("projectNumber", `@Model.ProjectNumber`);
                            formData.append("file", file.files[0]);
                            $.ajax({
                                url: '@Url.Action("UploadFile", "ChangeRequests")',
                                type: 'POST',
                                processData: false,
                                contentType: false,
                                data: formData,
                                xhr: function () {
                                    var bgBar = $("#myProgress");
                                    bgBar.css("opacity", 1);
                                    var elem = $("#myBar");
                                    elem.css("opacity", 1);
                                    var xhr = $.ajaxSettings.xhr();
                                    xhr.upload.onprogress = function (e) {
                                        var progress = Math.floor(e.loaded / e.total * 100);
                                        elem.css("width", progress + '%');

                                        console.log(progress + '%');

                                        if (progress == 100) {
                                            bgBar.css("opacity", 0);
                                            elem.css("opacity", 0);

                                            DisableButton("#upload-files");
                                            $.successAlert({
                                                title: "Informative",
                                                message: "Trying to connect with service!"
                                            });
                                        }
                                    };
                                    return xhr;
                                },
                                success: function (result) {

                                    $.successAlert({
                                        title:"Success",
                                        message: "File send to service!"
                                    });

                                    getFiles();

                                    var bgBar = $("#myProgress");
                                    bgBar.css("opacity", 0);
                                    var elem = $("#myBar");
                                    elem.css("opacity", 0);
                                },
                                error: function () {
                                    $.errorAlert({
                                        title: "Error",
                                        message: "Could not Upload. Please try again later!"
                                    });

                                    $(".project-list")
                                        .html(
                                            "<div class=\"text-center\"><i data-feather=\"frown\"></i></div><h5 class=\"text-center mt-2\">Something went wrong</h5>");
                                    feather.replace();

                                    var bgBar = $("#myProgress");
                                    bgBar.css("opacity", 0);
                                    var elem = $("#myBar");
                                    elem.css("opacity", 0);
                                }
                            });
                        }

                    }
                });

                function getFiles() {

                    DisableButton("#upload-files");

                    var requestName = $("#Name").val();

                    $.ajax({
                        url: '@Url.Action("GetFiles", "ChangeRequests")',
                        type: "GET",
                        data: {
                            projectName: `@Model.ProjectName`,
                            projectId: `@Model.ProjectId`,
                            entityId: `@Model.Id`,
                            projectNumber: `@Model.ProjectNumber`,
                            changeRequestName: `@Model.Name`,
                            changeRequestNumber: `@Model.Number`
                        },
                        success: function(result) {
                            $(".files").html(result);
                            feather.replace();
                        },
                        error: function() {
                            $(".files").html(ERROR_MESSAGE);
                            feather.replace();
                        },
                        complete: function () {
                            $("#upload-files").hide();
                            document.getElementById("files-div").style.display = "block";
                        }
                    });
                }

        </script>
    </text>
}


