@model Gear.Manager.Core.EntityServices.Departments.Queries.GetDepartmentList.DepartmentListViewModel
@using Bizon360.Models
@using Gear.Common.Extensions.StringExtensions
@using Gear.Identity.Permissions.Domain.Resources
@using Gear.Identity.Permissions.Infrastructure.Utils
@using Gear.Manager.Core.EntityServices.DepartmentTeams.Queries.GetDepartmentTeamsByParent
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig

@{
    var notDeletableDepartment = Model.Departments.FirstOrDefault(x => !x.IsDeletable);
}

@if (Model.Departments.Any())
{
    <!-- ---------- Show active departments with their teams ------------- -->

    @foreach (var dp in Model.Departments.Where(x => x.Active && x.IsDeletable))
    {
        <div id="@dp.Id" class="parent-content ">
            <div class="cursor-pointer row row-m-20 bg-white border rounded collapse-container collapse-lg hover-invisible-toggle position-relative pb-lg-0 pb-3" data-toggle="collapse" href="#parent-@dp.Id">
                <div class="d-lg-flex d-block w-100 px-20">
                    <div class="d-flex pt-collapse">
                        <a class="border collapse-switcher d-inline-block">
                            <i class="collapse-switcher-icon" data-feather="chevron-right"></i>
                        </a>
                        @if (dp.DepartmentLeadFullName == "Not Specified")
                        {
                            <a href="#" class="btn btn-outline-success user-rectangle assign-leader" data-controller="Departments" data-action="AssignLeader" data-id="@dp.Id"> + </a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary user-rectangle" asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@dp.DepartmentLeadId">@dp.DepartmentLeadFullName.ToInitials()</a>
                        }
                        <div class="d-block collapse-title-group">
                            <span class="collapse-title" data-id="@dp.Id">
                                @dp.Name
                                <span class="collapse-count" id="count-@dp.Id">@dp.DepartmentTeams.Count</span>
                            </span>
                            <span class="collapse-title-description">@dp.BusinessUnitName</span>
                        </div>
                        @if (User.UserHasThisPermission(Permissions.DepartmentDelete) || User.UserHasThisPermission(Permissions.DepartmentUpdate))
                        {
                            <div class="dropdown collapse-dropdown">
                                <div class="more-vertical hover-invisible hover-lg" id="dropdown-1" data-toggle="dropdown"></div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-1">
                                    @if (User.UserHasThisPermission(Permissions.DepartmentUpdate))
                                    {
                                        <a href="javascript:" class="dropdown-item update-department" data-controller="Departments" data-action="Edit" data-id="@dp.Id">@Localizer["shortCuts_edit"]</a>
                                        <a href="javascript:" class="dropdown-item rename-department" data-controller="Departments" data-action="Rename" data-id="@dp.Id">@Localizer["_rename"]</a>
                                        @if (dp.DepartmentLeadFullName == "Not Specified")
                                        {
                                            <a href="#" class="dropdown-item assign-leader" data-controller="Departments" data-action="AssignLeader" data-id="@dp.Id">@Localizer["shortCuts_assignLeader"] </a>
                                        }
                                        <a href="#" class="dropdown-item assign-team" data-controller="Departments" data-action="AddTeamsToDepartment" data-id="@dp.Id">@Localizer["shortCuts_assignTeam"] </a>
                                        <a href="javascript:" class="dropdown-item move-department" data-controller="Departments" data-action="MoveDepartment" data-id="@dp.Id">@Localizer["shortCuts_moveTo"]</a>
                                        <a href="javascript:" class="dropdown-item deactivate-department" data-controller="Departments" data-action="DeactivateDepartment" data-id="@dp.Id" data-name="@dp.Name">@Localizer["shortCuts_deactivate"]</a>
                                    }
                                    @if (User.UserHasThisPermission(Permissions.DepartmentDelete))
                                    {
                                        <a href="javascript:" class="dropdown-item delete-department" data-toggle="modal" data-target="#modal" data-controller="Departments" data-action="Delete" data-id="@dp.Id" data-name="@dp.Name">@Localizer["shortCuts_delete"]</a>
                                    }
                                </div>
                            </div>
                        }

                    </div>
                    <div class="d-lg-none collapse-divider"></div>
                    @if (User.UserHasThisPermission(Permissions.DepartmentTeamCreate))
                    {
                        <div class="d-lg-block d-inline-block">
                            <a href="#" class="btn btn-success collapse-button hover-invisible hover-lg ml-lg-20 mt-lg-15 add-entity-link" data-controller="DepartmentTeams" data-action="Create" data-parent-id="@dp.Id">@Localizer["shortCuts_addTeam"]</a>
                        </div>
                    }
                </div>
            </div>

            <div class="collapse collapse-datatable" id="parent-@dp.Id">
                @await Html.PartialAsync("AdmViews/_TeamsFormDepartment", new DepartmentTeamsByParentModel { DepartmentTeams = dp.DepartmentTeams, DepartmentId = dp.Id })
            </div>
            <hr class="no-gutters" />
        </div>
    }
    <!-- Uncategorized department-->

    @if (notDeletableDepartment != null)
    {
        <div id="@notDeletableDepartment.Id" class="parent-content ">
            <div class="cursor-pointer row row-m-20 bg-white border rounded collapse-container collapse-lg hover-invisible-toggle position-relative pb-lg-0 pb-3" data-toggle="collapse" href="#parent-@notDeletableDepartment.Id">
                <div class="d-lg-flex d-block w-100 px-20">
                    <div class="d-flex pt-collapse">
                        <a class="border collapse-switcher d-inline-block">
                            <i class="collapse-switcher-icon" data-feather="chevron-right"></i>
                        </a>
                        <div class="d-block collapse-title-group mt-1">
                            <span class="collapse-title" data-id="@notDeletableDepartment.Id">
                                @notDeletableDepartment.Name
                                <span class="collapse-count" id="count-@notDeletableDepartment.Id">@notDeletableDepartment.DepartmentTeams.Count</span>
                            </span>
                        </div>

                    </div>
                    <div class="d-lg-none collapse-divider"></div>
                    @if (User.UserHasThisPermission(Permissions.DepartmentTeamCreate))
                    {
                        <div class="d-lg-block d-inline-block">
                            <a href="#" class="btn btn-success collapse-button hover-invisible hover-lg ml-lg-20 mt-lg-15 add-entity-link" data-controller="DepartmentTeams" data-action="Create" data-parent-id="@notDeletableDepartment.Id">@Localizer["shortCuts_addTeam"]</a>
                        </div>
                    }
                </div>
            </div>

            <div class="collapse collapse-datatable" id="parent-@notDeletableDepartment.Id">
                @await Html.PartialAsync("AdmViews/_TeamsFormDepartment", new DepartmentTeamsByParentModel { DepartmentTeams = notDeletableDepartment.DepartmentTeams, DepartmentId = notDeletableDepartment.Id })
            </div>
            <hr class="no-gutters" />
        </div>

    }

    <!-- ---------- Show inactive departments with their teams ------------- -->

    @if (Model.Departments.Count(x => !x.Active) != 0)
    {
        <div class="text-center my-3">
            <button class="btn btn-outline-secondary btn-sm" type="button" data-open="false" onclick="showInactive(this, '#inactive-departments')">Show inactive</button>
            <p class="p-xs d-inline ml-2">@Model.Departments.Count(x => !x.Active) @Localizer["_departments"]</p>
        </div>

        <div class="d-none" id="inactive-departments">
            @foreach (var dp in Model.Departments.Where(x => !x.Active))
            {
                <div id="@dp.Id" class="parent-content ">
                    <div class="cursor-pointer row row-m-20 bg-white border rounded collapse-container collapse-lg hover-invisible-toggle position-relative pb-lg-0 pb-3" data-toggle="collapse" href="#parent-@dp.Id">
                        <div class="d-lg-flex d-block w-100 px-20">
                            <div class="d-flex pt-collapse">
                                <a class="border collapse-switcher d-inline-block">
                                    <i class="collapse-switcher-icon" data-feather="chevron-right"></i>
                                </a>
                                @if (dp.DepartmentLeadFullName == "Not Specified")
                                {
                                    <a href="#" class="btn btn-outline-success user-rectangle assign-leader" data-controller="Departments" data-action="AssignLeader" data-id="@dp.Id"> + </a>
                                }
                                else
                                {
                                    <a class="btn btn-outline-primary user-rectangle" asp-controller="ApplicationUsers" asp-action="Details" asp-route-id="@dp.DepartmentLeadId">@dp.DepartmentLeadFullName.ToInitials()</a>
                                }
                                <div class="d-block collapse-title-group">
                                    <span class="collapse-title" data-id="@dp.Id">
                                        @dp.Name
                                        <span class="collapse-count" id="count-@dp.Id">@dp.DepartmentTeams.Count</span>
                                    </span>
                                    <span class="collapse-title-description">@dp.BusinessUnitName</span>
                                </div>
                                @if (User.UserHasThisPermission(Permissions.DepartmentDelete) || User.UserHasThisPermission(Permissions.DepartmentUpdate))
                                {
                                    <div class="dropdown collapse-dropdown">
                                        <div class="more-vertical hover-invisible hover-lg" id="dropdown-1" data-toggle="dropdown"></div>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-1">
                                            @if (User.UserHasThisPermission(Permissions.DepartmentUpdate))
                                            {
                                                <a href="javascript:" class="dropdown-item update-department" data-controller="Departments" data-action="Edit" data-id="@dp.Id">@Localizer["shortCuts_edit"]</a>
                                                <a href="javascript:" class="dropdown-item rename-department" data-controller="Departments" data-action="Rename" data-id="@dp.Id">@Localizer["_rename"]</a>
                                                @if (dp.DepartmentLeadFullName == "Not Specified")
                                                {
                                                    <a href="#" class="dropdown-item assign-leader" data-controller="Departments" data-action="AssignLeader" data-id="@dp.Id">@Localizer["shortCuts_assignLeader"] </a>
                                                }
                                                <a href="#" class="dropdown-item assign-team" data-controller="Departments" data-action="AddTeamsToDepartment" data-id="@dp.Id">@Localizer["shortCuts_assignTeam"] </a>
                                                <a href="javascript:" class="dropdown-item move-department" data-controller="Departments" data-action="MoveDepartment" data-id="@dp.Id">@Localizer["shortCuts_moveTo"]</a>
                                                <a href="javascript:" class="dropdown-item activate-department" data-controller="Departments" data-action="ActivateDepartment" data-id="@dp.Id" data-name="@dp.Name">@Localizer["shortCuts_activate"]</a>
                                            }
                                            @if (User.UserHasThisPermission(Permissions.DepartmentDelete))
                                            {
                                                <a href="javascript:" class="dropdown-item delete-department" data-toggle="modal" data-target="#modal" data-controller="Departments" data-action="Delete" data-id="@dp.Id" data-name="@dp.Name">@Localizer["shortCuts_delete"]</a>
                                            }
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="d-lg-none collapse-divider"></div>
                            @if (User.UserHasThisPermission(Permissions.DepartmentTeamCreate))
                            {
                                <div class="d-lg-block d-inline-block">
                                    <a href="#" class="btn btn-success collapse-button hover-invisible hover-lg ml-lg-20 mt-lg-15 add-entity-link" data-controller="DepartmentTeams" data-action="Create" data-parent-id="@dp.Id">@Localizer["shortCuts_addTeam"]</a>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="collapse collapse-datatable" id="parent-@dp.Id">
                        @await Html.PartialAsync("AdmViews/_TeamsFormDepartment", new DepartmentTeamsByParentModel { DepartmentTeams = dp.DepartmentTeams, DepartmentId = dp.Id })
                    </div>
                    <hr class="no-gutters" />
                </div>
            }

        </div>


    }
}

