@model Gear.Manager.Core.EntityServices.BusinessUnits.Commands.RenameBusinessUnit.RenameBusinessUnitCommand
@inject IStringLocalizer Localizer
@inject IOptionsSnapshot<LocalizationConfigModel> LocalizationConfig
@using Bizon360.Models
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options

<form id="form-rename">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" hidden />

                <div class="mb-2">
                    <label asp-for="Name" class="float-label"></label>
                    <input asp-for="Name" class="form-control" placeholder="@Localizer["placeholders_businessUnit"]" autofocus="autofocus" autocomplete="off" required />
                    <span asp-validation-for="Name" class="invalid-feedback"></span>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">@Localizer["_cancel"]</button>
        <button type="submit" class="btn btn-success" id="btn-rename">@Localizer["_rename"]</button>
    </div>
</form>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
    $(".selectpicker").selectpicker();
    var bu = new BusinessUnitContainer();

    $.saveChanges({
        bindTo: "#btn-rename",
        formId: "#form-rename",
        ajaxUrl: "@Url.Action("Rename", "BusinessUnits")",
        successMessage: "@Localizer["msgSuccess_renameBusinessUnit"]",
        errorMessage: "@Localizer["msgError_renameBusinessUnit"]",
        eventFunction: bu.getBusinessUnits
    });
</script>